* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 20px;
    color: rgb(48, 47, 47);
    text-align: center;
    background: rgba(0, 0, 0, 0.918);
  }

  header {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow:0 0 5px rgb(228, 225, 225),
    0 0 10px rgb(221, 219, 219),
    0 0 20px rgb(226, 225, 225),
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

  h1 {
      text-align: left;
      margin-left: 10px;
  }

  h2 { 
      text-align: right;
      margin-top: -70px;
      font-weight: 50;
}
  
  section {
    display: inline-block;
    min-height: 300px;
    width: 50%;
    padding: 10px;
    background-color: rgba(15, 15, 15, 0.493);
    line-height: 300px;
    font-size: 26px;
    font-family: 'Nixie One', cursive;
    color: #fff;
    text-shadow:
    0 0 5px rgb(228, 225, 225),
    0 0 10px rgb(221, 219, 219),
    0 0 20px rgb(226, 225, 225),
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    border: 0.1px solid rgba(245, 245, 245, 0.274);
      box-shadow:  0 0 5px rgba(228, 225, 225, 0.356),
      0 0 10px rgba(221, 219, 219, 0.37),
      0 0 20px rgba(226, 225, 225, 0.295),
      0 0 40px rgba(179, 178, 236, 0.308),
      0 0 80px rgba(170, 173, 173, 0.288),
      0 0 90px rgba(200, 243, 243, 0.336),
      0 0 100px rgba(182, 201, 201, 0.26),
      0 0 150px rgba(180, 187, 187, 0.267);
  }

  .first, .third {
      float: left;
  }

  .second, .fourth {
      float: right;
  }

